.main-content {
    min-height: calc(100vh - 64px);
    padding: 16px;
}

.requirements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    width: 100%;

    // app-card {
    //     flex: 0 0 calc(33.33% - 16px); // Exact 3 cards per row with 24px gap
    //     min-width: 0;
    //     display: flex;
    //     height: 100%;
    // }
    app-card {
        flex: 0 0 calc(25% - 13px); // 4 cards per row with 13px gap
        // max-width: calc(25% - 13px);
        max-width: 100%;
        // min-width: 0;
        display: flex;
        height: 100%;
    }


    .no-requirements {
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        color: #666;
        background-color: #f9f9f9;
        border-radius: 8px;
        border: 1px dashed #ccc;
    }
}

// Responsive adjustments
@media (max-width: 1200px) {
    .requirements-container app-card {
        flex: 0 0 calc(50% - 12px); // 2 cards per row on medium screens with 24px gap
    }
}

@media (max-width: 768px) {
    .requirements-container app-card {
        flex: 0 0 100%; // 1 card per row on small screens
    }
}