.error-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 93vh;
  text-align: center;
}

.error-icon {
  font-size: 64px;
  color: #f44336;
  margin-bottom: 16px;
}

h2 {
  margin: 0 0 12px 0;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}
