// ::ng-deep .fullscreen-reenter-btn.mat-flat-button {
//     background-color: #8341A3 !important;
//     color: #FFFFFF !important;
// }

// ::ng-deep .fullscreen-reenter-btn.mat-flat-button:hover {
//     cursor: pointer;
//     background-color: #6c3483 !important; /* Slightly darker for hover */
// }
.fullscreen-reenter-btn {
    min-width: 120px;
    padding: 8px 12px;
    border-radius: 4px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 13px;
    cursor: pointer;
    background-color: #8341A3 !important;
    color: #FFFFFF !important;
    border: none !important;
}
